@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.details {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    @include desktop {
        margin-bottom: 4rem;
    }

    &__title {
        @include mobile-page-heading;

        @include desktop {
            padding-top: 2rem;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid $divider-color;
        border-bottom: 1px solid $divider-color;
        margin: 1.5em 0;
        padding: 1.5rem 0;

        @include tablet {
            border-top: none;
            padding: 0 0 1rem 0;
        }

        @include desktop {
            padding-right: 2rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        margin-right: 4rem;

        @include tablet {
            flex-direction: row;
            margin-right: 0;
        }
    }

    &__name {
        @include mobile-bold;
    }

    &__date {
        @include heading;

        @include tablet {
            margin-left: 1rem;
        }
    }

    &__views{
        display: flex;
        flex-direction: row;
        @include heading;
    }

    &__likes {
        display: flex;
        flex-direction: row;
        @include heading;
    }

    &__icon {
        @include icon;

        @include tablet{
            margin-left: 1rem;
        }
    }

    &__description {
        padding-right: 2rem;
    }
}