@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments-form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        padding-bottom: 2rem;
    }

    @include desktop {
        padding: 0 2rem 2rem 0;
    }

    &__container {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;

        @include desktop {
            padding-left: 1rem;
            margin-top: 1rem;
        }
    }

    &__avatar {
        @include avatar;
        margin: 2rem 1rem 0 0;

        @include desktop {
            margin-right: 2rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet {
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
    }

    &__button {
        @include button;
        margin: 1rem 0;
        background-image: url(../../assets/icons/add_comment.svg);
        background-position: 1rem;
        background-repeat: no-repeat;
        padding: 0 3rem;

        @include tablet {
            margin: 1.75rem 0 0 0;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        width: 100%;
        border: none;
        font-weight: 500;
    }

    &__input {
        margin-top: .5rem;
        @include input;
        padding: 1rem;
        height: 7rem;
        font-family: $font-stack;
        resize: none;

        &::placeholder {
            color: $primary-font-color;
        }

        &:focus {
            outline: 2px solid $active-form-color;
        }

        @include tablet {
            height: 1rem;
            margin-right: 2rem;
        }
    }
}