@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comments-form {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $divider-color;

    @include tablet {
        padding-bottom: 1rem;
    }

    &__container {
        display: flex;
        flex-direction: row;
        margin-top: 2rem;
    }

    &__avatar {
        @include avatar;
        margin: 2rem 1rem 0 0;
    }

    &__number {
        @include mobile-bold;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet {
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
    }

    &__button {
        @include button;
        margin: 1rem 0;
        background-image: url(../../assets/icons/add_comment.svg);
        background-position: 1rem;
        background-repeat: no-repeat;
        padding: 0 1rem 0 3rem;

        @include tablet {
            margin: 1.5rem 0 0 0;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        @include section-heading;
        width: 100%;

    }

    &__input {
        margin-top: .5rem;
        border-radius: 4px;
        @include input;
        padding: .5rem;
        height: 5rem;

        &::placeholder {
            @include mobile-form-input;
            color: $primary-font-color;
            font-family: $font-stack;
        }

        @include tablet {
            height: 2rem;
            margin-right: 2rem;
        }
    }
}