@use "./variables" as *;

// Breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {     
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

// Mixins
@mixin button {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: $CTA-font-color;
    width: 100%;
    height: 3rem;
    padding: .5rem 2rem;
    border-radius: 4px;
    border: none;
    background-color: $CTA-color;
    cursor: pointer;
    text-decoration: none;

    @include tablet {
        max-width: 10rem;
        height: 2.5rem;
    }
}

@mixin cancel-button {
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $background-color;
    color: $CTA-color;
    width: 100%;
    padding: .5rem 0;

    @include tablet {
        max-width: 10rem;
        margin-right: 1rem;
        height: 1.5rem;
    }
}

@mixin input {
    border-radius: 4px;
    border: 1px solid $form-outline-color;
    background-color: $form-background-color;
}

@mixin avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: $avatar-color;
    object-fit: cover;
    object-position: left;

    @include tablet {
        height: 2.5rem;
        width: 2.5rem;
    }
}

@mixin icon {
    height: 1.25rem;
    margin-right: .5rem;
    cursor: pointer;
}