@use "./variables" as *;


//Mobile styles
@mixin mobile-form-input {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

@mixin form-input {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

@mixin mobile-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

@mixin mobile-page-heading {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: $primary-font-color;
}

@mixin mobile-bold {
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
}

@mixin heading {
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: $secondary-font-color;
}

@mixin section-heading {
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    color: $secondary-font-color;
}

@mixin primary-font {
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
}

// Breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {     
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin button {
    margin-top: 1rem;
    font-weight: 700;
    color: $CTA-font-color;
    width: 100%;
    padding: 1rem 32px 1rem 32px;
    border-radius: 4px;
    border: none;
    @include mobile-button;
    background-color: $CTA-color;
}

@mixin input {
    border-radius: 4px;
    border: 2px solid $form-outline-color;
    background-color: $form-background-color;
}

@mixin avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: $avatar-color;
}

@mixin icon {
    height: 1.25rem;
    margin-right: .5rem;
}