@use "./variables" as *;


//Mobile styles
@mixin mobile-form-input {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}

@mixin form-input {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

@mixin mobile-button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

@mixin mobile-page-heading {
<<<<<<< HEAD
    font-size: 32px;
=======
    font-size: 30px;
>>>>>>> navbar
    line-height: 40px;
    font-weight: 700;
    color: $primary-font-color;
}

// Breakpoints
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {     
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}