$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Primary  colours:
$primary-font-color: #323232;
$CTA-color: #0095FF;
$active-form-color: #0095FF;
$CTA-font-color: #FFFFFF;
$background-color: #FFFFFF;
$secondary-font-color: #AFAFAF;

//Secondary colours:
$video-player-color: #000000;
$CTA-hover-color: #0065AD;
$divider-color: #E1E1E1;
$form-outline-color: #E1E1E1;
$form-background-color: #FAFAFA;
$avatar-color: #E1E1E1;

//Font variables
$font-stack: "AvenirNext LT Pro";
$root-font-size: 100%;
