@use "../../styles/partials/mixins" as *;

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;

    @include tablet {
        padding: 2rem 2rem 0 2rem;
    }

    @include desktop {
        padding: 0 6rem;
        flex-direction: row;
    }

    &__details {
        display: flex;
        flex-direction: column;
    }
}

.upload-successful {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    
    &__text {
        font-size: 1.5rem;
    }

    &__button {
        @include button;
        width: 1.5rem;
        max-height: 1.5rem;
        margin-left: 1rem;
        padding: 0;
    }

}

.video-details {
    width: 100%;
}