@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
    padding: 1rem;
    border-top: 1px solid $divider-color;

    @include tablet {
        padding: 2rem;
    }

    @include desktop {
        padding: 2rem 6rem;
    }

    &__title {
        padding: 1rem 0 2rem 0;
    }

    &__container {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            border-top: 1px solid $divider-color;
        }
    }

    &__thumbnail-container {

        @include desktop {
            height: 100%;
            padding: 0 2rem 1.75rem 0;
            border-bottom: 1px solid $divider-color;
        }
    }

    &__thumbnail-heading {
        margin-bottom: .5rem;
        font-weight: 500;

        @include tablet {
            padding-top: 2rem;
            border-top: 1px solid $divider-color;
        }

        @include desktop {
            border: none;
        }
    }

    &__thumbnail {
        background-color: $background-image-color;
        border-radius: 4px;
        width: 100%;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 100%;
            height: 14rem;
        }
    }
}

.upload-form {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;

    @include desktop {
        width: 70%;
    }

    &__label {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &__title-input, &__description-input {
        margin-top: .5rem;
        padding: 1rem;
        @include input;
        font-family: $font-stack;

        &::placeholder {
            color: $primary-font-color;
        }

        &:focus {
            outline: 2px solid $active-form-color;
        }
    }

    &__description-input {
        height: 5rem;
        resize: none;
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row-reverse;
            padding-top: 2rem;
            border-top: 1px solid $divider-color;
        }
    }

    &__publish-button {
        @include button;
        margin-bottom: 2rem;
        background-image: url("../../assets/icons/publish.svg");
        background-position: .5rem;
        background-repeat: no-repeat;
    }

    &__cancel-button {
        @include cancel-button;
    }
}