@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.upload {
    padding: 1rem;
    border-top: 1px solid $divider-color;

    &__title {
        padding: 1rem 0 2rem 0;
    }

    &__thumbnail-heading {
        margin-bottom: 1rem;
        font-weight: 500;
    }

    &__thumbnail {
        background-color: $background-image-color;
        border-radius: 4px;
        width: 100%;
    }

    &__cancel-button {
        @include button;
        background: $background-color;
        color: $CTA-color;
    }
}

.upload-form {
    display: flex;
    flex-direction: column;

    &__label {
        display: flex;
        flex-direction: column;
    }

    &__button {
        @include button;
    }
}