@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: $root-font-size;
}

body {
    font-family: $font-stack, sans-serif;
    color: $primary-font-color;
    @include primary-font;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    @include tablet {
        margin: 2rem;
    }

    @include desktop {
        margin: 2rem 5rem;
        flex-direction: row;
    }

    &__details {
        display: flex;
        flex-direction: column;
    }
}