@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.recommendations {
    margin-top: 1rem ;
    display: flex;
    flex-direction: column;

    @include tablet {
        margin: 1.5rem 2rem 0 0;
    }

    @include desktop {
        border-left: 1px solid $divider-color;
        padding: 3rem 0 0 2rem;
        margin: 0;
    }

    &__title {
        @include section-heading;
        margin-bottom: .5rem;

        @include tablet {
            margin-bottom: 1rem;
        }
    }

    &__videos {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

.video {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    @include tablet{
        margin-bottom: 2rem;
    }

    &__image {
        height: 5rem;
        min-width: 8rem;
        max-width: 8rem;
        border-radius: 4px;
        margin-right: 1rem;
        background-color: $avatar-color;
        object-fit: cover;
        object-position: center;
    }

    &__details {
        max-width: 13.5rem;
    }

    &__title {
        @include mobile-bold;
        margin-bottom: .5rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

    }
}