@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.recommendations {
    border-top: 1px solid $divider-color;
    display: flex;
    flex-direction: column;

    @include tablet {
        margin-bottom: 2rem;
    }

    @include desktop {
        border-left: 1px solid $divider-color;
        padding: 1rem 0 2rem 2rem;
        margin: 0;
        border-top: none;
        min-width: 22rem;
    }

    &__title {
        margin: 1.5rem 0 .5rem 0;
        font-weight: 500;
    }

    &__videos {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

.video {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    cursor: pointer;

    @include tablet{
        margin-bottom: 2rem;
    }

    &__image {
        height: 5rem;
        min-width: 8rem;
        max-width: 8rem;
        border-radius: 4px;
        margin-right: 1rem;
        background-color: $avatar-color;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        margin-bottom: .5rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $primary-font-color;
    }

    &__channel {
        color: $primary-font-color;
    }
}